.s1{ height:100vh; width: 100%;}
        .s1 form{ background-color: rgb(189, 181, 181); padding: 10px;width: 50%; margin: 1in 3in;}
        .s1 input{ padding:15px; width: 95%; border:2px solid aquamarine; border-radius: 20px;}
        .s1 select{ width: 100%; padding: 15px; border:2px solid aquamarine; border-radius: 20px;}
        .s1 button{ width: 100%; padding: 15px; background-color: rgb(102, 245, 102); border: none;}


        .s2{ height:100vh; width: 100%;}
        .s2 form{ background-color: rgb(189, 181, 181); padding:1in;width: 50%; margin: 1in 2in;}
        .s2 input{ padding:15px; width: 75%; border-bottom:2px solid aquamarine ; border-top: none; border-right: none; border-left: none; border-radius: 20px; background-color: transparent;}
        .s2 select{ width: 80%; padding: 15px; border-left:7px solid aquamarine;border-right:7px solid aquamarine; border-radius: 20px; background-color: transparent;border-top: none;border-bottom: none; text-align: center;}
        .s2 textarea{ padding: 15px;border-bottom: 2px dotted aquamarine; background-color: transparent;border-top: none; border-right: none; border-left: none;}
        .s2 button{ width: 50%; padding: 15px; margin-left: 1.8in; background-color: rgb(102, 245, 102); border: none;}
/* -------------------------------------------------------------------------------- */
        .s4 ul li{ display: inline;}
        img{ opacity: 0.3;}
        img:hover{opacity: 1;width: 300px; height: 300px;}
        .g{ display: inline-block; height:200px; width: 200px; padding-left: 1.5cm;}
